<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!--CSS FOOTER-->
<link th:href="@{db-restricciones.css}" rel="stylesheet">


</head>
<body>



	<div th:fragment="restric-db-comp">


		<div class="container m-2 mt-5 p-1">

			<div class="text-center text-white text-decoration-underline">
				<h4>Restricciones DB</h4>
			</div>


			<!-- TABLA RESTRICCIONES -->
			<div class="d-flex align-content-inline">
				<nav id="navbar-example3"
					class="navbar navbar-dark bg-dark  flex-column align-items-stretch p-3">

					<nav class="nav nav-pills flex-column">
						<a class="nav-link" href="#codigo">Código</a> <a class="nav-link"
							href="#imagen">Imagen</a> <a class="nav-link" href="#item-2">Nro
							de Pieza</a> <a class="nav-link" href="#item-2">Categoría</a> <a
							class="nav-link " href="#item-2">Descripción</a> <a
							class="nav-link" href="#item-2">Fabricante</a> <a
							class="nav-link" href="#item-2">Stock</a> <a class="nav-link"
							href="#item-2">Precio</a>

					</nav>
				</nav>

				<div data-bs-spy="scroll" data-bs-target="#navbar-example3"
					data-bs-offset="0" tabindex="0" class="text-white">
					<h4 id="codigo">Código</h4>
					<p>loremasdna sdnjabsjdbajsdhab</p>
					<h5 id="imagen">Imagen</h5>
					<p>lorem</p>
					<h5 id="item-1-2">Item 1-2</h5>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					<h4 id="item-2">Item 2</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					<h4 id="item-3">Item 3</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					<h5 id="item-3-1">Item 3-1</h5>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					<h5 id="item-3-2">Item 3-2</h5>
					<p>...</p>

				</div>
			</div>
			<!-- FIN TABLA RESTRICCIONES -->

		</div>
	</div>


</body>
</html>