@charset "utf-8";


body {
    background-image: url(../images/background/background03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 500px;
    text-align:center;
}

table{
	opacity : 0.9;
	
	
}

form{
	opacity : 0.9;
}

#btn-filter button{
	opacity:0.8;
	background-color:#212529;
}