<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Componentes</title>


<!-- Icono -->
<link rel="icon" type="image/x-icon" th:href="@{/images/electronic.png}">

<!--CSS COMPONENTES.CSS-->
<link th:href="@{/css-templates/general-template.css}" rel="stylesheet">

<!--CSS BOOTSTRAP-->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">

</head>
<body>

	<!-- NAVBAR FRAGMENT -->
	<header th:replace="../static/fragments/navbar/navbar.html::menu"></header>
	<!-- FIN NAVBAR FRAGMENT -->



	<!-- LISTADO DE COMPONENTES -->
	<div
		class="container justify-content-center text-center mt-5 ms-1 p-1 me-3 ">

		<!-- TITULO LISTADO DE COMPONENTES -->
		<div
			class="d-flex d-row justify-content-center bd-highlight mt-4 mb-5 p-3 ">
			<h1>
				<span class="badge bg-dark text-decoration-underline mt-2">Listado
					de Componentes</span>
			</h1>
			<!-- BTN-INICIO FRAGMENT -->
			<div
				th:replace="../static/fragments/componentes/btn-inicio/btn-inicio.html::btn">
			</div>
			<!-- FIN BTN-INICIO FRAGMENT -->

			<!-- BTN-AGREGAR FRAGMENT -->
			<div
				th:replace="../static/fragments/componentes/btn-agregar-comp/btn-agregar-comp.html::btn">
			</div>
			<!-- FIN BTN-AGREGAR FRAGMENT -->

			<!-- BTN-AYUDA FRAGMENT -->
			<div
				th:replace="../static/fragments/componentes/btn-ayuda-comp/btn-ayuda-comp.html::btn">
			</div>
			<!-- FIN BTN-AYUDA FRAGMENT -->





		</div>



		<!-- FIN TITULO LISTADO DE COMPONENTES -->




		<!--FILTRO Y UTILIDADES-->
		<div class="d-flex flex-row justify-content-end mt-5 ms-2">


			<!-- FILTER COMPONENTE -->
			<div class=" text-left me-5 ms-0">

				<div class="d-flex flex-row justify-content-center mt-3">


					<!-- VALOR BUSQUEDA -->
					<div class="text-left ms-0">
						<h2>

							<span class="badge bg-none ms-0"><svg
									xmlns="http://www.w3.org/2000/svg" width="40" height="40"
									fill="currentColor"
									class="bi bi-exclamation-triangle-fill flex-shrink-0 text-warning "
									viewBox="0 0 16 16" role="img" aria-label="Warning:">
	    <path
										d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
	  </svg></span>
						</h2>
					</div>
					<!-- FIN  VALOR BUSQUEDA -->
					<!-- FORM FILTRO -->
					<div class="text-left ms-0 me-5 col-12">

						<form class="d-flex flex-row text-left col-12"
							th:action="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/id/asc'}"
							th:object="${nuevoComponente}">

							<input type="text" name="filtro" id="filtro"
								class="form-control bg-white"
								placeholder="Ingresar valor Búsqueda" aria-label="valor"
								th:value=${filtro}>





							<!--BTN BUSQUEDA-->

							<button type="submit" class="btn bg-none p-1 ">

								<img th:src="@{/images/filters/buscar04.png}" alt="" width="45"
									height="45" class="">
							</button>


							<!--FIN BTN BUSQUEDA-->

							<!--BTN LIMPIAR-->

							<button class="btn bg-none p-1 me-5" onclick="limpiarFiltro()">

								<img th:src="@{/images/actions/papelera.png}" alt="" width="45"
									height="45" class="">
							</button>


							<!--FIN BTN LIMPIAR-->


						</form>


					</div>
					<!-- FIN FORM FILTRO -->



				</div>
			</div>

			<!-- FIN FILTER COMPONENTE-->


			<!--BTN PDF-->
			<div class="p-1 ">
				<a
					th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/id/asc?format=pdf'}"
					target="_blanck">
					<button type="button" class="btn bg-none p-1 m-2">

						<img th:src="@{/images/utils/pdf.png}" alt="" width="45"
							height="45">

					</button>
				</a>
			</div>
			<!--BTN PDF-->

			<!--BTN EXCEL-->
			<div class="p-1">
				<a
					th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/id/asc?format=xlsx'}">
					<button type="button" class="btn  bg-none p-1 m-2">

						<img th:src="@{/images/utils/excel.png}" alt="" width="45"
							height="45">

					</button>
				</a>
			</div>
			<!--BTN EXCEL-->

			<!--BTN GRAPHICS-->

			<div
				th:replace="../static/fragments/componentes/btn-grafico-comp/btn-grafico-comp.html::btn">
			</div>
			<!--BTN GRAPHICS-->

			<div>
				<!-- FECHA-HORA FRAGMENT -->
				<div
					th:replace="../static/fragments/componentes/fecha-hora/fecha-hora.html::fecha-hora">
				</div>
				<!-- FIN FECHA-HORA FRAGMENT -->
			</div>


		</div>
		<!--FIN FILTRO Y UTILIDADES-->






		
		<!-- ELEMENTOS BUSQUEDA, TABLA, PAGINACION -->
		<div class="d-flex d-row">
		<!-- ELEMENTOS DE BUSQUEDA -->
			<div class="ms-0 me-0 " id="btn-filter">
				<ul class="ms-0 ">
					<li class="mb-2 "><a
						th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/categoria/asc?filtro=Transistores BJT'}">
							<button type="button" class="btn ">

								<img th:src="@{/images/icons/transBjt.png}" alt="" width="80"
									height="80">
							</button>
					</a></li>

					<li class="mb-2"><a
						th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/categoria/asc?filtro=Transistores MOSFET'}">
							<button type="button" class="btn">

								<img th:src="@{/images/icons/transMosfet.png}" alt="" width="80"
									height="80">
							</button>
					</a></li>
					
						<li class="mb-2"><a
						th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/categoria/asc?filtro=Capacitores Electroliticos'}">
							<button type="button" class="btn">

								<img th:src="@{/images/icons/capElectr.png}" alt="" width="80"
									height="80">
							</button>
					</a></li>
					
					<li class="mb-2"><a
						th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/categoria/asc?filtro=Resistores de Alta Frecuencia'}">
							<button type="button" class="btn">

								<img th:src="@{/images/icons/resistor.png}" alt="" width="80"
									height="80">
							</button>
					</a></li>
					
						<li class="mb-2"><a
						th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/categoria/asc?filtro=Microcontroladores PICS'}">
							<button type="button" class="btn">

								<img th:src="@{/images/icons/microsPics.png}" alt="" width="80"
									height="80">
							</button>
					</a></li>
					
								<li class="mb-2"><a
						th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/categoria/asc?filtro=Microcontroladores AVRS'}">
							<button type="button" class="btn">

								<img th:src="@{/images/icons/microsAvr.png}" alt="" width="80"
									height="80">
							</button>
					</a></li>
					
									
								<li class="mb-2"><a
						th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/categoria/asc?filtro=Placas Esp8266'}">
							<button type="button" class="btn">

								<img th:src="@{/images/icons/esp8266.png}" alt="" width="80"
									height="80">
							</button>
					</a></li>
					
										<li class="mb-2"><a
						th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/categoria/asc?filtro=Placas Esp32'}">
							<button type="button" class="btn">

								<img th:src="@{/images/icons/esp32.png}" alt="" width="80"
									height="80">
							</button>
					</a></li>
												<li class="mb-2"><a
						th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/categoria/asc?filtro=Placas Arduino'}">
							<button type="button" class="btn">

								<img th:src="@{/images/icons/arduino.png}" alt="" width="80"
									height="80">
							</button>
					</a></li>

				</ul>
			</div>
			<!-- FIN ELEMENTOS DE BUSQUEDA -->

	<!-- CONTENEDOR TABLA/PAGINACION-->
			<div class="d-flex d-column col-12">

				<!-- TABLA COMPONENTES/PAGINAD -->
				<div class="">
				
				
					<!-- TABLA SIN FILTROS -->
					<table th:if="${filtro == null}"
						class="table table-secondary table-bordered border-dark table-hover text-center">
					
						<!--  THEAD SIN FILTRO -->
						<thead class="table-dark">
							<tr>

								<th class="text-center">CÓDIGO 
								<!-- BTN'S ORDER BY CODIGO ASC DESC CON FILTRO-->
									<div  class="d-flex justify-content-row text-center  ms-4">
										<!--order asc-->
										<a class="text-center" 
											th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/' + ${ultimoNroElementos} + '/codigo/asc'}">
											
											<button type="button"
												class="btn-sm btn-secondary bg-secondary text-center m-2">

												<img th:src="@{/images/pagination/alphabetUp.png}" alt=""
													width="15" height="20">

											</button>
										</a>
										<!--fin order asc-->
										<!--order desc-->
										<a class="text-center"
											th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/' + ${ultimoNroElementos} + '/codigo/desc'}">
											<button type="button"
												class="btn-sm btn-secondary bg-secondary m-2">
												<!--icono down-->
												<img th:src="@{/images/pagination/alphabetDown.png}" alt=""
													width="15" height="20">
												<!--Fin icono down-->
											</button>
										</a>
										<!--fin order desc-->

									</div> <!-- FIN BTN'S ORDER BY CODIGO ASC DESC  CON FILTRO-->
									
								</th>
								<th>IMAGEN <!-- BTN'S ORDER BY IMAGEN ASC DESC -->
									<div class="d-flex justify-content-row text-center">
										<!--order asc-->
										<a
											th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/imagen/asc'}">
											<button type="button"
												class="btn-sm btn-secondary bg-secondary m-2">

												<img th:src="@{/images/pagination/alphabetUp.png}" alt=""
													width="15" height="20">

											</button>
										</a>
										<!--fin order asc-->
										<!--order desc-->
										<a
											th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/imagen/desc'}">
											<button type="button"
												class="btn-sm btn-secondary bg-secondary m-2">
												<!--icono down-->
												<img th:src="@{/images/pagination/alphabetDown.png}" alt=""
													width="15" height="20">
												<!--Fin icono down-->
											</button>
										</a>
										<!--fin order desc-->

									</div> <!-- FIN BTN'S ORDER BY IMAGEN ASC DESC -->
								</th>
								<th>NRO.PIEZA <!-- BTN'S ORDER BY NRO.PIEZA ASC DESC -->
									<div class="d-flex justify-content-row text-center">
										<!--order asc-->
										<a
											th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/nroPieza/asc'}">
											<button type="button"
												class="btn-sm btn-secondary bg-secondary m-2">

												<img th:src="@{/images/pagination/alphabetUp.png}" alt=""
													width="15" height="20">

											</button>
										</a>
										<!--fin order asc-->
										<!--order desc-->
										<a
											th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/nroPieza/desc'}">
											<button type="button"
												class="btn-sm btn-secondary bg-secondary m-2">
												<!--icono down-->
												<img th:src="@{/images/pagination/alphabetDown.png}" alt=""
													width="15" height="20">
												<!--Fin icono down-->
											</button>
										</a>
										<!--fin order desc-->

									</div> <!-- FIN BTN'S ORDER BY NRO.PIEZA ASC DESC --></th>
								<th>CATEGORÍA <!-- BTN'S ORDER BY CATEGORIA ASC DESC -->
									<div class="d-flex justify-content-row text-center  ms-4">
										<!--order asc-->
										<a
											th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/categoria/asc'}">
											<button type="button"
												class="btn-sm btn-secondary bg-secondary m-2">

												<img th:src="@{/images/pagination/alphabetUp.png}" alt=""
													width="15" height="20">

											</button>
										</a>
										<!--fin order asc-->
										<!--order desc-->
										<a
											th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/categoria/desc'}">
											<button type="button"
												class="btn-sm btn-secondary bg-secondary m-2">
												<!--icono down-->
												<img th:src="@{/images/pagination/alphabetDown.png}" alt=""
													width="15" height="20">
												<!--Fin icono down-->
											</button>
										</a>
										<!--fin order desc-->

									</div> <!-- FIN BTN'S ORDER BY CATEGORIA ASC DESC --></th>
								<th>DESCRIPCIÓN <!-- BTN'S ORDER BY DESCRIPCION ASC DESC -->
									<div class="d-flex justify-content-row text-center ms-4">
										<!--order asc-->
										<a class="text-center"
											th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/descripcion/asc'}">
											<button type="button"
												class="btn-sm btn-secondary bg-secondary m-2">

												<img th:src="@{/images/pagination/alphabetUp.png}" alt=""
													width="15" height="20">

											</button>
										</a>
										<!--fin order asc-->
										<!--order desc-->
										<a class="text-center"
											th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/descripcion/desc'}">
											<button type="button"
												class="btn-sm btn-secondary bg-secondary m-2">
												<!--icono down-->
												<img th:src="@{/images/pagination/alphabetDown.png}" alt=""
													width="15" height="20">
												<!--Fin icono down-->
											</button>
										</a>
										<!--fin order desc-->

									</div> <!-- FIN BTN'S ORDER BY DESCRIPCION ASC DESC --></th>
								<th>FABRICANTE <!-- BTN'S ORDER BY FABRICANTE ASC DESC -->
									<div class="d-flex justify-content-row text-center  ms-4">
										<!--order asc-->
										<a
											th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/fabricante/asc'}">
											<button type="button"
												class="btn-sm btn-secondary bg-secondary m-2">

												<img th:src="@{/images/pagination/alphabetUp.png}" alt=""
													width="15" height="20">

											</button>
										</a>
										<!--fin order asc-->
										<!--order desc-->
										<a
											th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/fabricante/desc'}">
											<button type="button"
												class="btn-sm btn-secondary bg-secondary m-2">
												<!--icono down-->
												<img th:src="@{/images/pagination/alphabetDown.png}" alt=""
													width="15" height="20">
												<!--Fin icono down-->
											</button>
										</a>
										<!--fin order desc-->

									</div> <!-- FIN BTN'S ORDER BY FABRICANTE ASC DESC --></th>
								<th>STOCK <!-- BTN'S ORDER BY STOCK ASC DESC -->
									<div class="d-flex justify-content-row ">
										<!--order asc-->
										<a
											th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/stock/asc'}">
											<button type="button"
												class="btn-sm btn-secondary bg-secondary m-2">

												<img th:src="@{/images/pagination/numbersUp.png}" alt=""
													width="15" height="20">

											</button>
										</a>
										<!--fin order asc-->
										<!--order desc-->
										<a
											th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/stock/desc'}">
											<button type="button"
												class="btn-sm btn-secondary bg-secondary m-2">

												<img th:src="@{/images/pagination/numbersDown.png}" alt=""
													width="15" height="20">

											</button>
										</a>
										<!--fin order desc-->

									</div> <!-- FIN BTN'S ORDER BY STOCK ASC DESC --></th>
								<th>PRECIO <!-- BTN'S ORDER BY PRECIO ASC DESC -->
									<div class="d-flex justify-content-row ">
										<!--order asc-->
										<a
											th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/precio/asc'}">
											<button type="button"
												class="btn-sm btn-secondary bg-secondary m-2">

												<img th:src="@{/images/pagination/numbersUp.png}" alt=""
													width="15" height="20">

											</button>
										</a>
										<!--fin order asc-->
										<!--order desc-->
										<a
											th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/precio/desc'}">
											<button type="button"
												class="btn-sm btn-secondary bg-secondary m-2">

												<img th:src="@{/images/pagination/numbersDown.png}" alt=""
													width="15" height="20">

											</button>
										</a>
										<!--fin order desc-->

									</div> <!-- FIN BTN'S ORDER BY PRECIO ASC DESC --></th>
								<th><div class="d-flex justify-content-center mb-3">ACCION</div></th>


							</tr>
						</thead>
						<!-- FIN THEAD SIN FILTRO -->


						<!-- REGISTROS SIN FILTRO -->
						<tbody >
							<tr th:each="comp : ${listaComponentesPaginado}">
								<td th:text="${comp.getCodigo()}"></td>
								<!--<td><a th:href="@{|${comp.getImagen()}|}" target="_blank">Link</a></td>  -->
								<td><img th:src="@{|${comp.getImagen()}|}" alt=""
									width="100" height="100"></td>
								<td th:text="${comp.getNroPieza()}"></td>
								<td th:text="${comp.getCategoria()}"></td>
								<td th:text="${comp.getDescripcion()}"></td>
								<td th:text="${comp.getFabricante()}"></td>
								<td th:text="${comp.getStock() + 'u'}"></td>
								<td th:text="${'US$' + comp.getPrecio()}"></td>

								<td>
									<div class="d-flex justify-content-center p-1">
										<a
											th:href="@{/v1/componentes/editar-comp-form/id/{id}(id=${comp.getId()})}">
											<button type="button" class="btn bg-none ">

												<img th:src="@{/images/actions/edit.png}" alt="" width="45"
													height="45">

											</button>
										</a> <a
											th:href="@{/v1/componentes/eliminar-comp/id/{id}(id=${comp.getId()})}">
											<button type="button" class="btn bg-none ">

												<img th:src="@{/images/actions/delete.png}" alt=""
													width="45" height="45">

											</button>
										</a>

									</div>
								</td>

							</tr>



						</tbody>
						<!-- FIN REGISTROS SIN FILTRO -->
						
					</table>
					<!-- FIN TABLA SIN FILTROS -->
					
					
					<!-- PAGINACION SIN FILTROS-->
					<div th:if="${filtro == null}">
						<div class="d-flex d-row justify-content-center bg-dark p-1 m-1">

							<!-- PRIMERA PÁGINA -->
							<a th:if="${limiteMenorPaginado}"
								th:href="@{'/v1/componentes/listar-paginado/0/10/id/asc'}">
								<button type="button"
									class="btn btn-dark border-light alert-link m-2 ">Primera</button>
							</a>
							<!-- FIN PRIMERA PÁGINA -->

							<!-- BTN LAST PAGINA -->
							<a th:if="${limiteMenorPaginado}"
								th:href="@{'/v1/componentes/listar-paginado/' + ${anteriorPagina} + '/10/id/asc'}">
								<button type="button"
									class="btn btn-dark border-light alert-link m-2 ">
									<!--icono Anterior-->
									<img th:src="@{/images/pagination/anterior.png}" alt=""
										width="15" height="15"
										class="d-inline-block align-text-center ">
									<!--Fin icono Anterior-->
								</button>
							</a>
							<!-- BTN LAST PAGINA -->

							<!--NUMEROS -->
							<!-- NUMERO 1 -->
							<a th:href="@{/v1/componentes/listar-paginado/0/7/id/asc}">
								<button th:if="${ultimoNroPaginaVistaModelo == 1}"
									class="btn border-none text-primary p-1" type="button">
									<h2 class="">1</h2>
								</button>

								<button
									th:if="${ultimoNroPaginaVistaModelo != 1
					&& ultimoNroPaginaVistaModelo <= 3}"
									class="btn border-none p-1" type="button">
									<h2 class="text-white ">1</h2>
								</button>

							</a>
							<!-- FIN  NUMERO 1 -->

							<!-- NUMERO 2 -->
							<a th:href="@{/v1/componentes/listar-paginado/1/10/id/asc}">
								<button th:if="${ultimoNroPaginaVistaModelo == 2}"
									class="btn border-none text-primary p-1" type="button">
									<h2 class="">2</h2>
								</button>

								<button
									th:if="${ultimoNroPaginaVistaModelo != 2 
					&& ultimoNroPaginaVistaModelo <= 4}"
									class="btn border-none p-1" type="button">
									<h2 class="text-white ">2</h2>
								</button>
							</a>
							<!-- FIN  NUMERO 2 -->

							<!-- NUMERO 3 -->
							<a th:href="@{/v1/componentes/listar-paginado/2/10/id/asc}">
								<button th:if="${ultimoNroPaginaVistaModelo == 3}"
									class="btn border-none text-primary p-1" type="button">
									<h2 class="">3</h2>
								</button>

								<button
									th:if="${ultimoNroPaginaVistaModelo != 3 
					&& ultimoNroPaginaVistaModelo <= 4}"
									class="btn border-none p-1" type="button">
									<h2 class="text-white ">3</h2>
								</button>
							</a>
							<!-- FIN NUMERO 3 -->
							<!-- NUMERO 4 -->
							<a th:href="@{/v1/componentes/listar-paginado/3/10/id/asc}">
								<button th:if="${ultimoNroPaginaVistaModelo == 4}"
									class="btn border-none text-primary p-1" type="button">
									<h2 class="">4</h2>
								</button>

								<button
									th:if="${ultimoNroPaginaVistaModelo != 4 
					&& ultimoNroPaginaVistaModelo >= 4}"
									class="btn border-none p-1" type="button">
									<h2 class="text-white ">4</h2>
								</button>
							</a>
							<!-- FIN NUMERO 4 -->
							<!-- NUMERO 5 -->
							<a th:href="@{/v1/componentes/listar-paginado/4/10/id/asc}">
								<button th:if="${ultimoNroPaginaVistaModelo == 5}"
									class="btn border-none text-primary p-1" type="button">
									<h2 class="">5</h2>
								</button>

								<button
									th:if="${ultimoNroPaginaVistaModelo != 5
					 && ultimoNroPaginaVistaModelo > 3
					 && totalNroPaginasVistaModelo > 4}"
									class="btn border-none p-1" type="button">
									<h2 class="text-white ">5</h2>
								</button>
							</a>
							<!-- FIN NUMERO 5 -->
							<!-- NUMERO 6 -->
							<a th:href="@{/v1/componentes/listar-paginado/3/10/id/asc}">
								<button th:if="${ultimoNroPaginaVistaModelo == 6}"
									class="btn border-none text-primary p-1" type="button">
									<h2 class="">6</h2>
								</button>

								<button
									th:if="${ultimoNroPaginaVistaModelo != 6 
					&& ultimoNroPaginaVistaModelo > 4
					&& totalNroPaginasVistaModelo > 5}"
									class="btn border-none p-1" type="button">
									<h2 class="text-white ">6</h2>
								</button>
							</a>
							<!-- FIN NUMERO 6 -->


							<!-- FIN NUMEROS -->

							<!-- BTN NEXT PAGINA -->
							<a th:if="${limiteMayorPaginado }"
								th:href="@{'/v1/componentes/listar-paginado/' + ${siguientePagina} + '/10/id/asc'}">
								<button type="button"
									class="btn btn-dark border-light alert-link m-2 ">
									<!--icono siguiente-->
									<img th:src="@{/images/pagination/siguiente.png}" alt=""
										width="15" height="15"
										class="d-inline-block align-text-center ">
									<!--Fin icono siguiente-->
								</button>
							</a>
							<!-- FIN BTN NEXT PAGINA -->


							<!-- ÚLTIMA PÁGINA -->
							<a th:if="${limiteMayorPaginado}"
								th:href="@{'/v1/componentes/listar-paginado/' + ${totalNroPaginasVistaModelo} +'/10/id/asc'}">
								<button type="button"
									class="btn btn-dark border-light alert-link m-2 ">Última</button>
							</a>
							<!-- FIN ÚLTIMA PÁGINA -->

							<!-- INFO NRO DE PAGINA Y ELEMENTOS -->
							<div
								class="bg-dark text-white d-inline-block align-text-center ms-5 mt-3">
								<h5 class="ms-5">
									| Página: <span class="bg-dark "
										th:text="${ultimoNroPaginaVistaModelo}"></span> de <span
										class="bg-dark " th:text="${totalNroPaginas}"></span> |
								</h5>


							</div>

							<!-- ELEMENTOS SIN FILTRO -->
							<div th:if="${filtro == null}"
								class="bg-dark text-white d-inline-block align-text-center ms-3 mt-3">

								<h5 class="" th:if="${ultimoNroPagina == 0}">
									| Elementos: <span class="bg-dark "
										th:text="${ultimoNroElementos}"></span> de <span
										class="bg-dark " th:text="${totalElementos}"></span> |
								</h5>
								<h5 class="" th:if="${ultimoNroPagina == 1}">
									| Elementos: <span class="bg-dark "
										th:text="${ultimoNroElementos + 10}"></span> de <span
										class="bg-dark " th:text="${totalElementos}"></span> |
								</h5>
								<h5 class="" th:if="${ultimoNroPagina == 2}">
									| Elementos: <span class="bg-dark "
										th:text="${ultimoNroElementos + 20}"></span> de <span
										class="bg-dark " th:text="${totalElementos}"></span> |
								</h5>

								<h5 class="" th:if="${ultimoNroPagina == 3}">
									| Elementos: <span class="bg-dark "
										th:text="${ultimoNroElementos + 30}"></span> de <span
										class="bg-dark " th:text="${totalElementos}"></span> |
								</h5>


							</div>
							<!-- FIN ELEMENTOS SIN FILTRO -->
							

						</div>
						<!-- FIN INFO NRO DE PAGINA Y ELEMENTOS -->

					</div>

					<!-- FIN PAGINACION SIN FILTROS-->
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
				
				
				<!-- FIN TABLA CON FILTROS -->
					<table th:if="${filtro != null}"
						class="table table-secondary table-bordered border-dark table-hover text-center">
					<!--THEAD CON FILTRO -->
						<thead class="table-dark">
							<tr>

								<th class="text-center">CÓDIGO 
								<!-- BTN'S ORDER BY CODIGO ASC DESC CON FILTRO-->
									<div  class="d-flex justify-content-row text-center  ms-4">
										<!--order asc-->
										<a class="text-center" 
											th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/' + ${ultimoNroElementos} + '/codigo/asc?filtro=' + ${filtro} + ''}">
											
											<button type="button"
												class="btn-sm btn-secondary bg-secondary text-center m-2">

												<img th:src="@{/images/pagination/alphabetUp.png}" alt=""
													width="15" height="20">

											</button>
										</a>
										<!--fin order asc-->
										<!--order desc-->
										<a class="text-center"
											th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/' + ${ultimoNroElementos} + '/codigo/desc?filtro=' + ${filtro} + ''}">
											<button type="button"
												class="btn-sm btn-secondary bg-secondary m-2">
												<!--icono down-->
												<img th:src="@{/images/pagination/alphabetDown.png}" alt=""
													width="15" height="20">
												<!--Fin icono down-->
											</button>
										</a>
										<!--fin order desc-->

									</div> <!-- FIN BTN'S ORDER BY CODIGO ASC DESC  CON FILTRO-->
									
								</th>
								<th>IMAGEN <!-- BTN'S ORDER BY IMAGEN ASC DESC -->
									<div class="d-flex justify-content-row text-center">
										<!--order asc-->
										<a
											th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/imagen/asc?filtro=' + ${filtro} + ''}">
											<button type="button"
												class="btn-sm btn-secondary bg-secondary m-2">

												<img th:src="@{/images/pagination/alphabetUp.png}" alt=""
													width="15" height="20">

											</button>
										</a>
										<!--fin order asc-->
										<!--order desc-->
										<a
											th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/imagen/desc?filtro=' + ${filtro} + ''}">
											<button type="button"
												class="btn-sm btn-secondary bg-secondary m-2">
												<!--icono down-->
												<img th:src="@{/images/pagination/alphabetDown.png}" alt=""
													width="15" height="20">
												<!--Fin icono down-->
											</button>
										</a>
										<!--fin order desc-->

									</div> <!-- FIN BTN'S ORDER BY IMAGEN ASC DESC -->
								</th>
								<th>NRO.PIEZA <!-- BTN'S ORDER BY NRO.PIEZA ASC DESC -->
									<div class="d-flex justify-content-row text-center">
										<!--order asc-->
										<a
											th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/nroPieza/asc?filtro=' + ${filtro} + ''}">
											<button type="button"
												class="btn-sm btn-secondary bg-secondary m-2">

												<img th:src="@{/images/pagination/alphabetUp.png}" alt=""
													width="15" height="20">

											</button>
										</a>
										<!--fin order asc-->
										<!--order desc-->
										<a
											th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/nroPieza/desc?filtro=' + ${filtro} + ''}">
											<button type="button"
												class="btn-sm btn-secondary bg-secondary m-2">
												<!--icono down-->
												<img th:src="@{/images/pagination/alphabetDown.png}" alt=""
													width="15" height="20">
												<!--Fin icono down-->
											</button>
										</a>
										<!--fin order desc-->

									</div> <!-- FIN BTN'S ORDER BY NRO.PIEZA ASC DESC --></th>
								<th>CATEGORÍA <!-- BTN'S ORDER BY CATEGORIA ASC DESC -->
									<div class="d-flex justify-content-row text-center  ms-4">
										<!--order asc-->
										<a
											th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/categoria/asc?filtro=' + ${filtro} + ''}">
											<button type="button"
												class="btn-sm btn-secondary bg-secondary m-2">

												<img th:src="@{/images/pagination/alphabetUp.png}" alt=""
													width="15" height="20">

											</button>
										</a>
										<!--fin order asc-->
										<!--order desc-->
										<a
											th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/categoria/desc?filtro=' + ${filtro} + ''}">
											<button type="button"
												class="btn-sm btn-secondary bg-secondary m-2">
												<!--icono down-->
												<img th:src="@{/images/pagination/alphabetDown.png}" alt=""
													width="15" height="20">
												<!--Fin icono down-->
											</button>
										</a>
										<!--fin order desc-->

									</div> <!-- FIN BTN'S ORDER BY CATEGORIA ASC DESC --></th>
								<th>DESCRIPCIÓN <!-- BTN'S ORDER BY DESCRIPCION ASC DESC -->
									<div class="d-flex justify-content-row text-center ms-4">
										<!--order asc-->
										<a class="text-center"
											th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/descripcion/asc?filtro=' + ${filtro} + ''}">
											<button type="button"
												class="btn-sm btn-secondary bg-secondary m-2">

												<img th:src="@{/images/pagination/alphabetUp.png}" alt=""
													width="15" height="20">

											</button>
										</a>
										<!--fin order asc-->
										<!--order desc-->
										<a class="text-center"
											th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/descripcion/desc?filtro=' + ${filtro} + ''}">
											<button type="button"
												class="btn-sm btn-secondary bg-secondary m-2">
												<!--icono down-->
												<img th:src="@{/images/pagination/alphabetDown.png}" alt=""
													width="15" height="20">
												<!--Fin icono down-->
											</button>
										</a>
										<!--fin order desc-->

									</div> <!-- FIN BTN'S ORDER BY DESCRIPCION ASC DESC --></th>
								<th>FABRICANTE <!-- BTN'S ORDER BY FABRICANTE ASC DESC -->
									<div class="d-flex justify-content-row text-center  ms-4">
										<!--order asc-->
										<a
											th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/fabricante/asc?filtro=' + ${filtro} + ''}">
											<button type="button"
												class="btn-sm btn-secondary bg-secondary m-2">

												<img th:src="@{/images/pagination/alphabetUp.png}" alt=""
													width="15" height="20">

											</button>
										</a>
										<!--fin order asc-->
										<!--order desc-->
										<a
											th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/fabricante/desc?filtro=' + ${filtro} + ''}">
											<button type="button"
												class="btn-sm btn-secondary bg-secondary m-2">
												<!--icono down-->
												<img th:src="@{/images/pagination/alphabetDown.png}" alt=""
													width="15" height="20">
												<!--Fin icono down-->
											</button>
										</a>
										<!--fin order desc-->

									</div> <!-- FIN BTN'S ORDER BY FABRICANTE ASC DESC --></th>
								<th>STOCK <!-- BTN'S ORDER BY STOCK ASC DESC -->
									<div class="d-flex justify-content-row ">
										<!--order asc-->
										<a
											th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/stock/asc?filtro=' + ${filtro} + ''}">
											<button type="button"
												class="btn-sm btn-secondary bg-secondary m-2">

												<img th:src="@{/images/pagination/numbersUp.png}" alt=""
													width="15" height="20">

											</button>
										</a>
										<!--fin order asc-->
										<!--order desc-->
										<a
											th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/stock/desc?filtro=' + ${filtro} + ''}">
											<button type="button"
												class="btn-sm btn-secondary bg-secondary m-2">

												<img th:src="@{/images/pagination/numbersDown.png}" alt=""
													width="15" height="20">

											</button>
										</a>
										<!--fin order desc-->

									</div> <!-- FIN BTN'S ORDER BY STOCK ASC DESC --></th>
								<th>PRECIO <!-- BTN'S ORDER BY PRECIO ASC DESC -->
									<div class="d-flex justify-content-row ">
										<!--order asc-->
										<a
											th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/precio/asc?filtro=' + ${filtro} + ''}">
											<button type="button"
												class="btn-sm btn-secondary bg-secondary m-2">

												<img th:src="@{/images/pagination/numbersUp.png}" alt=""
													width="15" height="20">

											</button>
										</a>
										<!--fin order asc-->
										<!--order desc-->
										<a
											th:href="@{'/v1/componentes/listar-paginado/' + ${ultimoNroPagina} + '/10/precio/desc?filtro=' + ${filtro} + ''}">
											<button type="button"
												class="btn-sm btn-secondary bg-secondary m-2">

												<img th:src="@{/images/pagination/numbersDown.png}" alt=""
													width="15" height="20">

											</button>
										</a>
										<!--fin order desc-->

									</div> <!-- FIN BTN'S ORDER BY PRECIO ASC DESC --></th>
								<th><div class="d-flex justify-content-center mb-3">ACCION</div></th>


							</tr>
						</thead>
						<!-- FIN THEAD CON FILTRO -->



						<!-- REGISTROS CON FILTRO -->

						<tbody >
							<tr th:each="comp : ${listaComponentesPaginadoFiltro}">
								<td th:text="${comp.getCodigo()}"></td>
								<!--  <td><a th:href="@{|${comp.getImagen()}|}" target="_blank">Link</a></td>-->
								<td><img th:src="@{|${comp.getImagen()}|}" alt=""
									width="100" height="100"></td>
								<td th:text="${comp.getNroPieza()}"></td>
								<td th:text="${comp.getCategoria()}"></td>
								<td th:text="${comp.getDescripcion()}"></td>
								<td th:text="${comp.getFabricante()}"></td>
									<td th:text="${comp.getStock() + 'u'}"></td>
								<td th:text="${'US$' + comp.getPrecio()}"></td>

								<td>
									<div class="d-flex justify-content-center p-1">
										<a
											th:href="@{/v1/componentes/editar-comp-form/id/{id}(id=${comp.getId()})}">
											<button type="button" class="btn bg-none ">

												<img th:src="@{/images/actions/edit.png}" alt="" width="45"
													height="45">

											</button>
										</a> <a
											th:href="@{/v1/componentes/eliminar-comp/id/{id}(id=${comp.getId()})}">
											<button type="button" class="btn bg-none ">

												<img th:src="@{/images/actions/delete.png}" alt=""
													width="45" height="45">

											</button>
										</a>

									</div>
								</td>
							</tr>
						</tbody>

						<!-- FIN REGISTROS CON FILTRO -->
					</table>
					<!-- FIN TABLA CON FILTROS -->








					<!-- PAGINACION CON FILTROS-->
					<div th:if="${filtro != null}">
						<div class="d-flex d-row justify-content-center bg-dark p-1 m-1">

							<!-- PRIMERA PÁGINA -->
							<a th:if="${limiteMenorPaginado}"
								th:href="@{'/v1/componentes/listar-paginado/0/10/id/asc?filtro=' + ${filtro} + ''}">
								<button type="button"
									class="btn btn-dark border-light alert-link m-2 ">Primera</button>
							</a>
							<!-- FIN PRIMERA PÁGINA -->

							<!-- BTN LAST PAGINA -->
							<a th:if="${limiteMenorPaginado}"
								th:href="@{'/v1/componentes/listar-paginado/' + ${anteriorPagina} + '/10/id/asc?filtro=' + ${filtro} + ''}">
								<button type="button"
									class="btn btn-dark border-light alert-link m-2 ">
									<!--icono Anterior-->
									<img th:src="@{/images/pagination/anterior.png}" alt=""
										width="15" height="15"
										class="d-inline-block align-text-center ">
									<!--Fin icono Anterior-->
								</button>
							</a>
							<!-- BTN LAST PAGINA -->

							<!--NUMEROS -->
							<!-- NUMERO 1 -->
							<a th:href="@{'/v1/componentes/listar-paginado/0/7/id/asc?filtro=' + ${filtro} + ''}">
								<button th:if="${ultimoNroPaginaVistaModelo == 1}"
									class="btn border-none text-primary p-1" type="button">
									<h2 class="">1</h2>
								</button>

								<button
									th:if="${ultimoNroPaginaVistaModelo != 1
					&& ultimoNroPaginaVistaModelo <= 3}"
									class="btn border-none p-1" type="button">
									<h2 class="text-white ">1</h2>
								</button>

							</a>
							<!-- FIN  NUMERO 1 -->

							<!-- NUMERO 2 -->
							<a th:href="@{'/v1/componentes/listar-paginado/1/10/id/asc?filtro=' + ${filtro} + ''}">
								<button th:if="${ultimoNroPaginaVistaModelo == 2}"
									class="btn border-none text-primary p-1" type="button">
									<h2 class="">2</h2>
								</button>

								<button
									th:if="${ultimoNroPaginaVistaModelo != 2 
					&& ultimoNroPaginaVistaModelo <= 4}"
									class="btn border-none p-1" type="button">
									<h2 class="text-white ">2</h2>
								</button>
							</a>
							<!-- FIN  NUMERO 2 -->

							<!-- NUMERO 3 -->
							<a th:href="@{'/v1/componentes/listar-paginado/2/10/id/asc?filtro=' + ${filtro} + ''}">
								<button th:if="${ultimoNroPaginaVistaModelo == 3}"
									class="btn border-none text-primary p-1" type="button">
									<h2 class="">3</h2>
								</button>

								<button
									th:if="${ultimoNroPaginaVistaModelo != 3 
					&& ultimoNroPaginaVistaModelo <= 4}"
									class="btn border-none p-1" type="button">
									<h2 class="text-white ">3</h2>
								</button>
							</a>
							<!-- FIN NUMERO 3 -->
							<!-- NUMERO 4 -->
							<a th:href="@{'/v1/componentes/listar-paginado/3/10/id/asc?filtro=' + ${filtro} + ''}">
								<button th:if="${ultimoNroPaginaVistaModelo == 4}"
									class="btn border-none text-primary p-1" type="button">
									<h2 class="">4</h2>
								</button>

								<button
									th:if="${ultimoNroPaginaVistaModelo != 4 
					&& ultimoNroPaginaVistaModelo >= 4}"
									class="btn border-none p-1" type="button">
									<h2 class="text-white ">4</h2>
								</button>
							</a>
							<!-- FIN NUMERO 4 -->
							<!-- NUMERO 5 -->
							<a th:href="@{'/v1/componentes/listar-paginado/4/10/id/asc?filtro=' + ${filtro} + ''}">
								<button th:if="${ultimoNroPaginaVistaModelo == 5}"
									class="btn border-none text-primary p-1" type="button">
									<h2 class="">5</h2>
								</button>

								<button
									th:if="${ultimoNroPaginaVistaModelo != 5
					 && ultimoNroPaginaVistaModelo > 3
					 && totalNroPaginasVistaModelo > 4}"
									class="btn border-none p-1" type="button">
									<h2 class="text-white ">5</h2>
								</button>
							</a>
							<!-- FIN NUMERO 5 -->
							<!-- NUMERO 6 -->
							<a th:href="@{'/v1/componentes/listar-paginado/3/10/id/asc?filtro=' + ${filtro} + ''}">
								<button th:if="${ultimoNroPaginaVistaModelo == 6}"
									class="btn border-none text-primary p-1" type="button">
									<h2 class="">6</h2>
								</button>

								<button
									th:if="${ultimoNroPaginaVistaModelo != 6 
					&& ultimoNroPaginaVistaModelo > 4
					&& totalNroPaginasVistaModelo > 5}"
									class="btn border-none p-1" type="button">
									<h2 class="text-white ">6</h2>
								</button>
							</a>
							<!-- FIN NUMERO 6 -->


							<!-- FIN NUMEROS -->

							<!-- BTN NEXT PAGINA -->
							<a th:if="${limiteMayorPaginado }"
								th:href="@{'/v1/componentes/listar-paginado/' + ${siguientePagina} + '/10/id/asc?filtro=' + ${filtro} + ''}">
								<button type="button"
									class="btn btn-dark border-light alert-link m-2 ">
									<!--icono siguiente-->
									<img th:src="@{/images/pagination/siguiente.png}" alt=""
										width="15" height="15"
										class="d-inline-block align-text-center ">
									<!--Fin icono siguiente-->
								</button>
							</a>
							<!-- FIN BTN NEXT PAGINA -->


							<!-- ÚLTIMA PÁGINA -->
							<a th:if="${limiteMayorPaginado}"
								th:href="@{'/v1/componentes/listar-paginado/' + ${totalNroPaginasVistaModelo} +'/10/id/asc?filtro=' + ${filtro} + ''}">
								<button type="button"
									class="btn btn-dark border-light alert-link m-2 ">Última</button>
							</a>
							<!-- FIN ÚLTIMA PÁGINA -->

							<!-- INFO NRO DE PAGINA Y ELEMENTOS -->
							<div
								class="bg-dark text-white d-inline-block align-text-center ms-5 mt-3">
								<h5 class="ms-5">
									| Página: <span class="bg-dark "
										th:text="${ultimoNroPaginaVistaModelo}"></span> de <span
										class="bg-dark " th:text="${totalNroPaginas}"></span> |
								</h5>


							</div>

					
							<!-- ELEMENTOS CON FILTRO -->
							<div th:if="${filtro != null}"
								class="bg-dark text-white d-inline-block align-text-center ms-3 mt-3">

								<h5 class="" th:if="${ultimoNroPagina == 0}">
									| Elementos: <span class="bg-dark "
										th:text="${ultimoNroElementosFiltro}"></span> de <span
										class="bg-dark " th:text="${totalElementos}"></span> |
								</h5>
								<h5 class="" th:if="${ultimoNroPagina == 1}">
									| Elementos: <span class="bg-dark "
										th:text="${ultimoNroElementosFiltro }"></span> de <span
										class="bg-dark " th:text="${totalElementos}"></span> |
								</h5>
								<h5 class="" th:if="${ultimoNroPagina == 2}">
									| Elementos: <span class="bg-dark "
										th:text="${ultimoNroElementosFiltro}"></span> de <span
										class="bg-dark " th:text="${totalElementos}"></span> |
								</h5>

								<h5 class="" th:if="${ultimoNroPagina == 3}">
									| Elementos: <span class="bg-dark "
										th:text="${ultimoNroElementosFiltro}"></span> de <span
										class="bg-dark " th:text="${totalElementos}"></span> |
								</h5>


							</div>
							<!-- FIN ELEMENTOS CON FILTRO -->


						</div>
						<!-- FIN INFO NRO DE PAGINA Y ELEMENTOS -->

					</div>
					<!-- FIN PAGINACION CON FILTROS-->
					
					


				</div>
				<!-- FIN TABLA Y PÁGINACION  CON/SIN FILTRO-->



			</div>
			<!-- FIN CONTENEDOR TABLA/PAGINACION-->

		</div>
		<!-- FIN ELEMENTOS BUSQUEDA, TABLA, PAGINACION -->




	</div>


	<!-- FIN LISTADO DE COMPONENTES -->




	<!-- FOOTER FRAGMENT -->
	<footer th:replace="../static/fragments/footer/footer.html::pie-pagina"></footer>
	<!-- FIN FOOTER FRAGMENT -->







	<!-- FUNCION LIMPIAR INPUT FILTRO JS -->

	<script type="text/javascript">

function limpiarFiltro(){

 document.getElementById("filtro").value="";


}
</script>
	<!-- FIN FUNCION LIMPIAR INPUT FILTRO JS -->







	<!--JS Bootstrap-->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>


</body>
</html>