<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<div align="center">

		<table>

			<thead>
				<tr>
					<th>ID</th>
					<th>Código</th>
					<th>Imagen</th>
					<th>Nro de Pieza</th>
					<th>Categoría</th>
					<th>Descripción</th>
					<th>Fabricante</th>
					<th>Stock</th>
					<th>Precio</th>
				</tr>
			</thead>


			<tbody>
				<tr th:each="componente : ${listaComponentes}">
					<td th:text="${componente.id}"></td>
					<td th:text="${componente.codigo}"></td>
					<td th:text="${componente.imagen}"></td>
					<td th:text="${componente.nroPieza}"></td>
					<td th:text="${componente.categoria}"></td>
					<td th:text="${componente.descripcion}"></td>
					<td th:text="${componente.fabricante}"></td>
					<td th:text="${componente.stock}"></td>
					<td th:text="${componente.precio}"></td>

				</tr>

			</tbody>


		</table>


	</div>

</body>
</html>